<div class="intro">
</div>
<div class="cities-wrap">

    <div class="row">

  <% @cities.each do |city| %>

<style>

  .<%=city.name.delete("  '")%> {
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url(<%=city.picture%>);
    cursor: pointer;
  }
  </style>
      <a href='<%=city_path(city.id)%>' class=" city-image thumbnail <%=city.name.delete(" '")%>">
        <p class="city-title-overlay"><%= city.name %></p>
      </a>


  <% end %>
</div>
</div>
